@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.w-marquee{
  margin-top: 20px;
  position: relative;
  width: auto;
  height: 300px;
  overflow: hidden;
} 

.marquee{
  position: absolute;
  margin: auto auto;
  overflow: hidden;
  height: auto;
  white-space: nowrap;
  
}
.marquee span {
  display: flex;
  height: auto;
  width: auto;
  white-space: nowrap;
  overflow: hidden; 
  animation: marquee 16s linear infinite;
}


.heade{
  
  line-height: 1;
  font-weight: 700;
  padding-top:12px ;
  padding-bottom: 12px;
  
}
.heade1{
  display: flex;
  animation: heade 0.7s linear 1;
 font-size: 120px;
}
.heade2{
  display: flex;
  animation: heade2 0.7s linear 1;
  font-size: 120px;
}
.text-about{
  display: none;
  
}
.text-about:hover{
  display: grid;
}
.camaleon:hover{
  display: none;
  overflow: hidden;
  animation: none;
}

@keyframes heade {
  0%{
    transform: translateX(-200%);
  }
  100%{
    transform: translateX(0)
  }
}
@keyframes heade2 {
  0%{
    transform: translateX(200%);
  }
  100%{
    transform: translateX(0)
  }
}
@keyframes marquee{
  0% {
    transform: translate(100%, 0)
  }
  100% {
    transform: translate(-100%, 0)
  }
}
@media (max-width:768px){
  .heade1{
    font-size: 60px;
    line-height: 1;
  }
  .heade2{
    font-size: 60px;
    line-height: 1;
  }
}
@media(max-width:1350px){
  .w-marquee{
    height:180px;
  } 
  }
  
@media(max-width:1000px){
    .w-marquee{height:120px;} 
  
    }
    
@media(max-width:720px){
      .w-marquee{height:80px;}
     
     
      }
      
@media(max-width:549px){
        .w-marquee{height:60px;} 
        }